# docker-compose.yml
services:
  db:
    image: pgvector/pgvector:pg16  #
    environment:
      POSTGRES_DB: ir_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d ir_db"]
      interval: 3s
      timeout: 3s
      retries: 10

  index:
    build: .
    command: >
      sh -c "python indexing/ingest.py && python indexing/index_pg.py"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
    working_dir: /app

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata: