services:
  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: ir_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ir_db"]
      interval: 5s
      timeout: 5s
      retries: 10
      
  index:
    build: .
    command: >
      sh -c "python indexing/ingest.py && python indexing/index_pg.py"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PGHOST=db
      - PGPORT=5432
      - PGDATABASE=ir_db
      - PGUSER=postgres
      - PGPASSWORD=mysecretpassword

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - PGHOST=db
      - PGPORT=5432
      - PGDATABASE=ir_db
      - PGUSER=postgres
      - PGPASSWORD=mysecretpassword

volumes:
  pgdata: